.button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
